@import url('variables.css');

#messages-page-background {
    display: flex;
    background-color: black;
    color: white;
    font-size: 2em;
    font-weight: bold;
    font-family: Calibri;
    width: 360px;
    height: 656px;
    align-items: center;
    justify-content: center;
}

#message-page-scrollable-area{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 650px;
    align-items: center;
    justify-content: flex-start;

    border-radius: 15px;

    overflow-y: auto;
    scrollbar-width: none;
}

#no-messages-info{
    margin-top: 20px;
    width: 320px;

    text-align: center;
    font-size: 0.55em;
    font-weight: 400;
    color: var(--third-color);
}