@import url('variables.css');

#pending-requests-tab-background-ter{
    height: 40px;
    width: 120px;
    background-color: var(--third-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#find-friends-tab-ter {
    display: flex;

    background-color: var(--fourth-color);

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    width: 120px;
    height: 40px;
    font-size: 0.65em;
    font-weight: bold;
    font-family: Calibri;
    font-style: italic;
    color: var(--tab-color);

    justify-content: center;
    align-items: center;
}

#my-friends-tab-ter {
    display: flex;

    background-color: var(--third-color);

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    width: 120px;
    height: 40px;
    font-size: 0.65em;
    font-weight: bold;
    font-family: Calibri;
    font-style: italic;
    color: var(--tab-color);

    justify-content: center;
    align-items: center;
}

#pending-requests-tab-ter {
    display: flex;

    background-color: var(--fifth-color);

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;

    width: 120px;
    height: 40px;
    font-size: 0.65em;
    font-weight: bold;
    font-family: Calibri;
    font-style: italic;
    color: var(--tab-color);

    justify-content: center;
    align-items: center;
}

#search-bar-background {
    display: flex;
    background-color: var(--third-color);
    width: 360px;

    justify-content: center;
    align-items: center;
}

#search-bar-background input {
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #555555;
}


#my-friends-background {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 610px;
    background-color: var(--third-color);

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

#my-friends-main {
    margin: 3px;

    align-items: center;
    justify-content: flex-start;

    width: 360px;
    height: 547px;
    border-radius: 15px;

    overflow-y: scroll;
    scrollbar-width: none;

}

#my-friends-main-content {
    display: flex;

}

#message-info-no-friends-yet{
    width: 330px;
    text-align: center;
    color: var(--fifth-color);
    font-size: 0.5em;

    margin-top: 25px;
}